header {
    float: left;
    width: 30%;
    background-color: azure;
}

nav a {
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: inline-block;
    width: 65%;
    background-color: antiquewhite;
  }

main {
    margin-top: 50px;
  }

  .container {
    display: flex;
    background-color: aquamarine;
  }

  .review {
    display: flex;
  }

footer {
    display: flex;
    background-color: bisque;
  }

footer ul li {
    margin-right: 50px;
  }

@media only screen and (max-width: 767px) {
    header, nav, main, footer {
        width: 100%;
    }
}