body {
  background-image:url(/screenshots/barber.JPG);
  background-repeat: no-repeat;
}

header {
    background-color: black;
    opacity: 2;
}

nav a {
    text-decoration: none;
    
}

a, a:link, a:visited, a:active {
  color: white;
}

a, a:active {
  color: orange;
}

.navbar ul li{
    list-style-type: none;
    display: inline;
    color: white;
  }

.title {
  font-size: x-large;
  margin-right: 50%;
}

main {
    margin-top: 50px;
  }

  .container {
    display: flex;
    background-color: aquamarine;
  }

  .review {
    display: flex;
  }

footer {
    display: flex;
    background-color: bisque;
  }

footer ul li {
    margin-right: 50px;
  }

@media only screen and (max-width: 767px) {
    header, nav, main, footer {
        width: 100%;
    }
}